@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-track {
  background-color: #232323;
  /*changethistothedesiredbackgroundcolor*/
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #525252; /* change this to the desired thumb color */
  border-radius: 10px; /* add a border radius to make it rounded */
}
/* Hide the scrollbar when not hovering over it */
::-webkit-scrollbar {
  width: 8px; /* change this to the desired scrollbar width */
  height: 8px; /* change this to the desired scrollbar height */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666; /* change this to the desired thumb color when hovering over it */
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}